<div class="ui main text container">
    <div class="ui huge header">All Blogs</div>
    <div class="ui divided items top attached segment">
        {{#each blogs}}
            <div class="item">
                <div class="image">
                    <img class="ui small rounded image" src="{{image}}">
                </div>
                <div class="content">
                    <div class="header">{{title}}</div>
                    <div class="meta">
                        <span><span>{{ dateFormat created "DD, MMMM of YYYY" }}</span></span>
                    </div>
                    <div class="description" style="width: 100%;">
                        <p>{{trimString body 0 100}}</p>
                    </div>
                    <div class="extra">
                        <a href="/blogs/{{_id}}" class="ui right floated primary button">
                            Read more
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>